.input {
    display: flex;
    justify-content: center;
    .input-inner {
        width: 500px;
        align-self: center;
        @media (max-width: 768px) {
            width: 280px;
        }
    }
}
