.aboutUs{
    background-color: #fff;
    padding: 115px 200px;
}

.aboutUs__items{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

.aboutUs__item{
    text-align: center;
    width: 237px
}


@media (max-width:1200px) {
    .aboutUs{
        padding:114px 100px;
    }
    
    .aboutUs__items{
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutUs__item{
        width: 400px;
        margin-bottom: 30px;
    }
    
}

@media (max-width:991.98px){
    .aboutUs{
        padding:114px 0;
    }
}