.aboutUs {
    background-color: #fff;
    padding: 115px 0;
    
    @media (max-width:991.98px) {
        padding: 114px 0;
    }

    .aboutUs__items {
        padding: 0 200px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 1200px) {
            padding: 0 0 ;
            margin: 0 auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }

}


    

        

        

   

