@import '../../variable';

.item {
    text-align: center;
    width: 237px;
    @media (max-width: 1200px) {
        margin-bottom: 40px;
    }
    .item__img {
        margin-bottom: 30px;
    }
    .item__text {
        margin-bottom: 30px;
        @include textStyles('Open Sans', normal, 600, 20px, 22px, 0.1em,$colorBlack);
    }
    .item__descr {
        @include textStyles('Open Sans', normal, 400, 15px, 22px, 0,$colorBlack);
    }
}