
.ourServices{
    background-color: #E4FDF9;
    padding: 127px 200px 103px 200px;
    .ourServices__loading{
        text-align: center;
        margin-bottom: 40px;
    }
    .ourServices__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ourServices__btn{
        text-align: center;
    }
}