.aboutUs__inner {
    text-align: center;
    margin: 0 auto;
    width: 821px;
    margin-bottom: 102px;
}

.aboutUs__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;

}

.aboutUs__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

@media (max-width:1200px){
    .aboutUs__inner{
        width: 500px;
    }
}

@media  (max-width:991.98px) {
    
    
}